<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectCostEstimator.user" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="XMLFolderPath" value="C:\Users\frte\Documents\ProjectFolder\"/>
    <add key="XMLFileListName" value="FileList"/>
    <add key="CableDataFolderPath" value="C:\Users\frte\Documents\ProjectFolder\Electrical\Cables.txt"/>
  </appSettings>
</configuration>